.Hockey{
    display: grid;
    grid-template-columns: 5fr 2fr;
}
.Player-container{
     width: 100%;
    background-color: rgba(220, 220, 220, 0.471);
    margin-bottom: 0;
}
.player-inner-div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    margin: 0 auto;
}
/* prfile section */
.profile-container{
    display: flex;
    flex-direction: column;
}
.profile{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin-bottom: 20px;
}
.porfile-picture{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
.person-details{
    display: flex;
    gap: 20px;
    background-color: rgb(226, 221, 221);
    width: 85%;
    margin: 0 auto ;
    border-radius: 10px;
    padding: 5px;
    justify-content: center;

}
.font-style{
    font-size: 20px;
    font-weight: 700;
}
/* add break btn  */
.break{
  
}
.break-btn{
 background-color: gainsboro;
 border-radius: 10px;
 display: flex;
 justify-content: center;
 padding: 10px;
}
.break{
    width: 85%;
    margin: 0 auto;
}
.break-btn-time{
    padding: 15px 10px;
    background-color: blue;
    border: none;
    border-radius: 50%;
    color: white;
    margin: 5px;
    cursor: pointer;

}
.break-btn-time:hover{
  background-color: green;
}

/* play details part  */
.play-details{
    width: 85%;
    margin: 0 auto;
}
.play-time-div{
   
    height: 40px;
    background-color: gainsboro;
    border-radius: 10px;
    padding:  10px 0;
    display: flex;
    justify-content: space-around;
    align-items:  center;
    gap: 20px;
}

.activity-btn-div{
    width: 100%;
    margin-top: 20px;
}
.activity-btn{
    width: 100%;
    padding: 15px 0;
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.activity-btn:hover{
  background-color: green;
}